/*Variables*/
$textColor: #484848;
$skyblue: #1FAC97;
$skyblueHover: #187769;
$whiteHover: #e6e6e6;
$green: #044059;
$fontTitle: 'Montserrat', sans-serif;
$fontRegular: 'Quicksand', sans-serif;
$gray: #929292;
$transition: 0.25s;

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#datepicker {
	display: none;
	border-radius: 5px;
	overflow: hidden;
	max-width: 320px;
	width: 100%;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 300;
		background-color: $skyblue;
		padding: 10px 5px;
		span, i {
			color: #fff;
			line-height: 30px;
			cursor: pointer;
			transition: $transition;
			&:active { transform: scale(0.95); }
		}
		span {
			width: 70%;
			text-align: center;
			border-radius: 15px;
			font-size: 14px;
			&:hover { background-color: rgba(255, 255, 255, 0.2); }
		}
		i {
			display: block;
			line-height: 28px;
			width: 28px;
			text-align: center;
			border-radius: 50%;
			&.disabled {
				opacity: 0;
				cursor: default;
				&:hover { background-color: transparent; }
			}
			&:hover { background-color: rgba(255, 255, 255, 0.2); }
		}
	}
	.body {
		padding: 10px 15px;
		position: relative;
		ul {
			list-style: none;
			display: flex;
			justify-content: space-between;
			font-size: 12px;
			color: $gray;
			li {
				text-align: center;
				display: block;
				line-height: 30px;
				width: 30px;
				cursor: default;
			}
		}
		.num-days {
			li {
				color: $textColor;
				cursor: pointer;
				border-radius: 50%;
				transition: $transition;
				&:hover { background-color: rgba(0, 0, 0, 0.05); }
				&.active {
					color: $skyblue;
					font-weight: 700;
					background-color: rgba(0, 0, 0, 0.05);
				}
			}
		}
		.months, .years {
			display: none;
			flex-wrap: wrap;
			li {
				width: calc(100% / 4);
				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				span {
					line-height: 45px;
					display: block;
					width: 45px;
					text-align: center;
					border-radius: 50%;
					cursor: pointer;
					color: $textColor;
					&:hover { background-color: rgba(0, 0, 0, 0.05); }
				}
			}
		}
		.years {
			display: none;
			max-height: 180px;
			overflow-y: scroll;
			overflow-x: hidden;
			&::-webkit-scrollbar { width: 3px; }
			&::-webkit-scrollbar-thumb {
				background-color: lightgray;
			}
		}
	}
}